{% extends "../_base.html" %} {% load static %} {% block content %}
<form action="" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="profile-picture">Profile Picture:</label>
    <input type="file" id="profile-picture" name="profile-picture" />
  </div>

  <div class="form-group">
    <label for="user_name">Username:</label>
    <input type="text" id="user_name" name="user_name" />
  </div>

  <div class="form-group">
    <label for="study_level">Level Of Study</label>
    <input type="text" id="study_level" name="study_level" />
  </div>

  <div class="form-group">
    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" />
  </div>

  <div class="form-group">
    <label for="bio">About:</label>
    <input type="text" id="bio" name="bio" />
  </div>
  <button>Save Profile</button>
</form>
{% endblock content %}
